.AppleDouble
.DS_Store
._*
.python-version
.coverage
*.sqlite3

env/
build/
dist/
tags
TAGS
.coverage/
.idea/
.hypothesis
.eggs/

*~
.*.swp
.*.swo
*.pyc
*.egg
*.sqlite
*.sqlite-journal
*.egg-info
*pem
*.mo
*.ini
