{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <section class="container">
        <h1>{{ page.title }}</h1>
    </section>
    {% for post in blog_pages %}
        <div class="post">
            <section class="container">
                <h2>
                    <small>{{ post.specific.date }}</small>
                    <a href="{% pageurl post %}">{{ post.title }}</a>
                </h2>
            </section>
        </div>
    {% endfor %}

    {% endblock %}
