{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
<section class="container">
    <h1>{{ page.title }}</h1>


    {% if page.body %}
        <div class="body-content">
            {% include "blog/includes/streamfield.html" with content=page.body %}
        </div>
    {% endif %}

    <p class="meta">&ndash;  {{ page.date }}</p>

    <p><a href="{{ page.get_parent.url }}">Return to index</a></p>
</section>
{% endblock %}
