/* Debugz */
body.debug * {
  box-shadow: 1px 1px 0 rgba(255,0,0,.1),
              -1px -1px 0 rgba(255,0,0,.1)
}


* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "acumin-pro",
               Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 180%;
  vertical-align: baseline;
  margin: 0;

  background: #fafafa;
  color: #404040;
  overflow-y: scroll
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.01em
}

::selection {
  background: #ff4500;
  color: #fff
}

::-moz-selection {
  background: #ff4500;
  color: #fff
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

section.page {
  flex: 1;
  padding-top: 4rem;
}

a {
  text-decoration: none;
  color: #ff4500;
  border-bottom: 2px solid transparent
}

a:hover {
  border-color: #ff4500
}

header,
section.intro,
section.container,
section.blog-post-list,
article {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
}

/**
 * Header
 **/

header h1 {
  display: inline-block;
  font-size: 1.25rem;
  margin-top: 4rem
}

header h1:after, footer section.about h4:after {
  content: "";
  display: block;
  height: 2px;
  width: 3rem;
  background: #ddd;
  margin-top: 1rem;
}

header h1 a {
  color: #222
}

section.intro p {
  width: 44%;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.2em;
  margin-bottom: 0;
  margin-top: 3rem;
}

section.intro p em {
  font-style: normal;
  color: #000;
}

/**
 * Article list
 **/

div.post {
  padding: 1.5rem 0;
  border-bottom: 1px solid #ddd
}

div.post a {
  color: #222
}

div.post:last-child {
  border-bottom-color: transparent
}

div.post h2 {
  margin: 0;
  font-weight: 400
}

div.post small {
  text-transform: uppercase;
  font-size: 0.8rem
}

/**
 * Article
 **/

article,
section.blog-post-list,
article div.rich-text{
  display: flex;
  align-items: center;
  flex-direction: column
}

header section.container,
section.intro,
div.post,

article p,
article h1,
article h2,
article h3,
article h4,
article ol,
article small,

footer section.container{
  width: 100%;
  max-width: 42rem;
}

article h1 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0
}

article small {
  color: #999;
  margin-bottom: 2rem;
  font-size: 0.9rem;
  line-height: 3em;
}

article a.go-back {
  display: inline-block;
}

article a.go-back:before {
  content: "";
  display: block;
  height: 2px;
  width: 3rem;
  background: #ddd;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

/**
 * Footer
 **/

footer {
  background: #f4f4f4;
  font-size: 1rem;
  margin-top: 4rem
}

footer .container {
  display: flex;
  align-items: flex-start;
  padding: 3rem 0;
}

footer img {
  width: 3rem;
  margin-right: 2rem;
  border-radius: 100%;
}


footer h4, footer ul{
  margin-top: 0
}

footer img, footer section {
}

footer section.about {
  flex: 1;
}

footer section.about p {
  max-width: 20rem;
}

footer ul {
  list-style: none;
}

footer section.elsewhere {
  text-align: right;
  margin-left: 1rem;
}

footer h4 {
  display: flex;
  flex-direction: column;
}

footer section.elsewhere h4:after {
  content: "";
  display: block;
  height: 2px;
  width: 3rem;
  background: #ddd;
  margin-top: 1rem;
  align-self: flex-end
}

